<div class="col-8">
  <p>
    This app was created to learn Angular 6.<br>
    You can create a tracker (an image that loads remotely) by entering a name in the &lt;input&gt; below.
    Click "{{ addText }}" and the tracker will be created. More instructions in the next page.
  </p>
</div>
<div class="col-12" [class.disabled]="loadingText">
  <label>
    enter a name for the Tracker <small>so you can find it in the future</small>
    <input [(ngModel)]="tracker.tname" class="form-control" placeholder="name" autofocus/>
  </label>
  <div class="w-100"></div>
  <label [hidden]="!tracker.tname">click to create tracker
    <br>
    <button
      (click)="createNew()"
      [disabled]="loadingText"
      [innerHTML]="loadingText || addText"
      class="btn btn-primary btn-lg"
    ></button>
  </label>
</div>
