<div class="col-12">

  <h2>About Email Tracker</h2>
  <p>Email tracker is a very simple system to track emails. It doesn't work on all providers*, but it's free
    to use, has no ads, and works most of the time.
  </p>
  <p>
    Copy the image to the email you send, and when your recepient opens the email and loads this remote image,
    we'll save it as a visit and notify you. Click "new" below to generate a track.
  </p>
  <p>
    <small>* - some providers cache the images and the results can be inaccurate</small>
  </p>
  <a routerLink="/new" class="btn btn-info btn-big center-block">+ new tracking</a>
</div>